# ==============================
# Project
# ==============================
PROJECT_NAME=etl_platform
TZ=Asia/Ho_Chi_Minh

# ==============================
# Oracle
# ==============================
ORACLE_PORT=1521
ORACLE_PASSWORD=oracle_system_password
ORACLE_APP_USER=etl_user
ORACLE_APP_USER_PASSWORD=etl_user_password
ORACLE_SERVICE_NAME=XEPDB1

# ==============================
# PostgreSQL (Airflow Metadata DB)
# ==============================
POSTGRES_PORT=5432
POSTGRES_DB=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_password

# ==============================
# MinIO
# ==============================
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# ==============================
# Airflow
# ==============================
AIRFLOW_WEB_PORT=8088
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=change_me_airflow_secret
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Data
AIRFLOW_ADMIN_LASTNAME=Engineer
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_UID=50000

# ==============================
# Spark
# ==============================
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2g

# ==============================
# Data Lake Buckets
# ==============================
MINIO_BUCKETS=raw,stg,sor,reconcile,logs,tmp
